/* ===========VARIABLES============= */
@media (max-width: 640px) {
  /* =======HEADER======= */
  .container {
    margin-right: 40px;
    margin-left: 40px;
  }
  .header__top, .header__bottom {
    display: none;
  }
  .header__center {
    background-color: #0C1111;
  }
  .search {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .burger {
    display: flex;
    font-size: 30px;
    color: #FFFFFF;
  }
  .burger--margin-right {
    margin-right: 20px;
  }
  .logo__svg {
    width: 120px;
    height: 24px;
  }
  .logo__svg-path {
    fill: white;
  }
  .search__catalog {
    display: none;
  }
  .search__field-search {
    width: 100%;
    background-color: #0C1111;
    display: flex;
    flex-direction: row-reverse;
  }
  .search__label {
    display: none;
  }
  .search__btn {
    display: flex;
  }
  .search__btn-path {
    stroke: #FFFFFF;
  }
  .personal-area__btn {
    display: none;
  }
  .personal-area__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .personal-area__profile-link {
    display: none;
  }
  .personal-area__profile-link-basket {
    display: flex;
  }
  .personal-area__profile-link-basket--margin-left {
    margin-left: 20px;
  }
  .personal-area__profile-text-basket {
    display: none;
  }
  .personal-area__basket-path {
    stroke: #FFFFFF;
    stroke-width: 2px;
  }
  /* ========MAIN========= */
  .navigation {
    display: none;
  }
  .help {
    flex-direction: column;
  }
  .main__header-navigation--margin-bottom {
    margin-bottom: 10px;
  }
  .help__phone-hot-line {
    display: block;
  }
  .help__phone-hot-line--margin-bottom {
    margin-bottom: 20px;
  }
  .help__text {
    font-size: 16px;
  }
  /* ========SERVICE-BLOCK========= */
  .service-block {
    grid-template: none;
    gap: 20px;
    grid-template-areas: "chat" "delivery" "bonus-system" "playment";
  }
  .chat {
    height: 120px;
    background: #FFFFFF;
  }
  .chat--margin-top {
    margin-bottom: 100px;
  }
  .chat--padding {
    padding: 0px;
  }
  .chat__image {
    display: none;
  }
  .chat__text {
    font-size: 16px;
  }
  .chat__text--margin-bottom {
    margin-bottom: 15px;
  }
  .chat__btn {
    width: 100%;
  }
  .delivery {
    flex-direction: column-reverse;
    justify-content: start;
    position: relative;
  }
  .delivery--padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .delivery__header {
    position: absolute;
    top: -90px;
  }
  .delivery__text {
    width: 100%;
    font-size: 16px;
  }
  .delivery__text--margin {
    margin-top: -40px;
  }
  .delivery__image {
    position: relative;
    top: -50px;
  }
  .delivery__link {
    display: block;
    text-decoration: none;
  }
  .delivery__btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bonys-system--padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .bonys-system__images {
    display: none;
  }
  .payment {
    background: #FFFFFF;
    width: 100%;
  }
  .payment--padding {
    padding: 0px;
  }
  .payment__image {
    display: none;
  }
  .payment__header--margin-top {
    margin-top: 10px;
  }
  .payment__item {
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 10px;
  }
  .payment__link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .payment__link-svg-mobile {
    display: block;
  }
  .guarantee, .return {
    display: none;
  }
  .tutorial-order--margin-bottom {
    margin-bottom: 100px;
  }
  .tutorial-return {
    background: linear-gradient(to right, #E2E6EB, #F3F1F5);
    border: none;
    border-radius: 12px;
    position: relative;
    box-sizing: border-box;
  }
  .tutorial-return--padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tutorial-return__header {
    position: relative;
    top: -70px;
  }
  .tutorial-return__text {
    display: block;
    font-family: "Open-Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #333333;
  }
  .tutorial-return__text--margin-top {
    margin-top: -20px;
  }
  .tutorial-return__image {
    width: 300px;
    display: block;
    position: relative;
    top: -50px;
  }
  .tutorial__text--delite {
    display: none;
  }
  .tutorial__items--padding-bottom {
    padding-bottom: 30px;
  }
  .tutorial__items--margin {
    margin-bottom: 50px;
  }
  .tutorial-guarantee {
    display: block;
  }
  .tutorial-guarantee__btn {
    width: 100%;
  }
  .tutorial-guarantee__link {
    display: block;
    text-decoration: none;
  }
  .tutorial-guarantee__link--margin-top {
    margin-top: 30px;
  }
  .tutorial-guarantee__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background-color: #0C1111;
    font-family: "Open-Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
  }
  .tutorial-guarantee__btn--padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tutorial-guarantee__btn--hover:hover {
    background-color: #BDBDBD;
  }
  .tutorial-guarantee__arrow {
    font-size: 25px;
  }
  .tutorial-guarantee__arrow--margin-left {
    margin-left: 20px;
  }
  .tutorial__header-question {
    display: none;
  }
  /* =======FOOTER=========== */
  .footer--color {
    background: #0C1111;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .container__footer-mobile {
    margin: 0;
  }
  .info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "info-download" "info-contacts" "info-help" "info__mobile-line" "info-about-as" "info-form";
  }
  .info--padding-top {
    padding-top: 0;
  }
  .info-download {
    background: #333333;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .info-download--padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .info-download__header {
    font-family: "Open-Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .info-download__header--margin-top {
    margin-top: 20px;
  }
  .info-download__box--margin-top {
    margin-top: 40px;
  }
  .info-download__market {
    grid-template-areas: "apple google";
    justify-content: space-between;
    grid-template-rows: repeat(1, 1fr);
  }
  .info-download__QR-code {
    display: none;
  }
  .info-download__link {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    background-color: #0C1111;
  }
  .info-download__link--padding {
    padding: 20px 10px;
  }
  .info-contacts {
    display: flex;
    flex-direction: column-reverse;
    background-color: #0C1111;
  }
  .info-contacts--padding {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-contacts__social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .info-contacts__social-link-mobile--padding-bottom {
    padding-bottom: 20px;
  }
  .info-contacts__social-link-mobile--line-bottom {
    border-bottom: 1px solid #333333;
  }
  .info-contacts__image {
    height: 20px;
  }
  .info-contacts__text {
    display: flex;
    position: absolute;
    left: 40px;
  }
  .info-contacts__symbol-mobile {
    display: flex;
  }
  .info__header, .info__item {
    display: none;
  }
  .address--margin-mobile {
    margin-top: 20px;
  }
  .address__item {
    display: none;
  }
  .address__text {
    display: block;
    font-family: "Open-Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
  }
  .address__text--margin-top {
    margin-top: 10px;
  }
  .address__header {
    display: none;
  }
  .address__item-mobile {
    display: block;
  }
  .info-contacts__social {
    display: flex;
    flex-direction: column;
  }
  .info__items-mobile {
    display: block;
  }
  .info__items-mobile--margin-top {
    margin-top: 20px;
  }
  .info__item-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FF6666;
    border: none;
    border-radius: 12px;
  }
  .info__item-mobile--padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .info__header-mobile {
    display: block;
  }
  .info__header-mobile--margin-top {
    margin-top: 20px;
  }
  .info__mobile-line {
    display: block;
    border: 1px solid #333333;
    grid-area: info__mobile-line;
  }
  .info__mobile-line--margin {
    margin-top: 30px;
  }
  .info-help__mobile {
    display: block;
  }
  .info-help__mobile--padding {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-help__mobile-link {
    font-family: "Open-Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F2F2F2;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info-help__mobile-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .info-help__mobile-text--hover:hover {
    text-decoration: underline;
  }
  .info-help__mobile-before-ruble::before {
    background-image: url(../images/icon/icon-ruble.png);
  }
  .info-help__mobile-before-arrow::before {
    background-image: url(../images/icon/icon-arrow.png);
  }
  .info-help__mobile-before-home::before {
    background-image: url(../images/icon/icon-home.png);
  }
  .info-help__mobile-before-star::before {
    background-image: url(../images/icon/icon-star.png);
  }
  .info-help__mobile-text::before {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .info-help__mobile-block--margin-top {
    margin-top: 10px;
  }
  .info-about-as--mobile-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-about-as__items-mobile {
    display: block;
    list-style-type: none;
  }
  .info-about-as__item-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info-about-as__link-mobile {
    font-family: "Open-Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
  }
  .info-about-as__link-mobile--hover:hover {
    text-decoration: underline;
  }
  .info-about-as__mobile-symbol {
    color: #FFFFFF;
  }
  .info-download__other-social {
    display: none;
  }
  .info-form--mobile-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-form__header {
    font-family: "Open-Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #BDBDBD;
  }
  .info-form__header-mobile--margin {
    margin-top: 20px;
  }
  .info-form__form {
    background-color: #0C1111;
    border: 1px solid #4F4F4F;
  }
  .info-form__form--margin {
    margin-top: 10px;
    margin-right: 0px;
  }
  .info-form__input {
    background-color: #0C1111;
  }
  .info-form__btn {
    font-size: 22px;
    background-color: #BDBDBD;
    width: 100px;
    color: #0C1111;
  }
  .copyrights__line {
    border: 1px solid #333333;
  }
  .copyrights__line--margin {
    margin-top: 20px;
  }
  .copyrights__text {
    display: none;
  }
  .copyrights__text-mobile {
    display: block;
    width: 100%;
    font-family: "Open-Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #F2F3F5;
    text-align: start;
  }
}/*# sourceMappingURL=style_mobile.css.map */